<mat-card>
  <mat-card-content>
    <mat-card-title>
      CHANGE PASSWORD
    </mat-card-title>
    <form [formGroup]="passwordChangeForm" (submit)="onConfirmChange()">
      <mat-form-field appearance="outline">
        <input matInput type="password" formControlName="oldPassword" placeholder="Old Password">
        <mat-error *ngIf="!passwordChangeForm.controls['oldPassword'].valid">
          Enter your old password
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="password" formControlName="newPassword" placeholder="New Password">
        <mat-error *ngIf="!passwordChangeForm.controls['newPassword'].valid">
          Enter a valid password
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm New Password">
        <mat-error *ngIf="!passwordChangeForm.controls['confirmPassword'].valid">
          Passwords don't match
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Confirm</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
